.chatbot-admin-stat-tile {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  vertical-align: top;
  .oo-ui-horizontalLayout {
    .oo-ui-widget {
      margin-bottom: 0;
    }
  }
  .chatbot-admin-stat-value-container {
    label {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .chatbot-admin-stat-header-container {
    min-height: 35px;
  }

  .oo-ui-icon-feedback-stat-accurate {
    background-image: url( '../assets/feedback_accurate.png' );
  }
  .oo-ui-icon-feedback-stat-neutral {
    width: 35px;
    background-image: url( '../assets/feedback_neutral.png' );
  }
  .oo-ui-icon-feedback-stat-negative {
    background-image: url( '../assets/feedback_negative.png' );
  }
  .oo-ui-icon-feedback-stat-total_queries {
    background-image: url( '../assets/feedback_total_queries.png' );
  }
  .oo-ui-icon-feedback-stat-latency {
    background-image: url( '../assets/feedback_latency.png' );
  }
}
